@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans';
}


:root {

    --back: #1a1c1e;
    --front: #2f3338;
    --dark: #000;
    --white: #fff;
    --grey: #f3f5f4;
    --gold: #ffb81a;
    --blue: #447BBE;
    --darkblue: #2B3784;
    --red: #DF1F2D;
    --darkred: #B11313;
    --goldd: #f5be01;
    --darkk: #1e2328;
    --roz: #FF7396;

    --navbar-height: 5em;
}

nav {
    background: var(--dark);
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    font-weight: 400;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav-logo img {
    height: 1.8em;
    width: 1.8;
}

.nav-logo a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 1em;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.nav-item a {
    transition: .3s ease;
}

.nav-item a:hover {
    color: var(--gold);
}

.hamburgher {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
}

.nav-link.active {
    color: var(--gold);
}

@media (max-width: 768px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
    }

    .hamburgher {
        display: block;
        z-index: 2;
    }

    .hamburgher.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburgher.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburgher.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5em;
        display: flex;
        flex-flow: column;
        background-color: var(--dark);
        width: 100%;
        height: 18em;
        transition: 0.3s;
    }

    .nav-item {
        margin: 1em 0;

    }

    .nav-link active {
        color: var(--gold);
    }

    .nav-menu.active {
        left: 0;
    }

    nav ul li a {
        color: var(--white);
    }
}

@media (max-width: 425px) {
    html {
        font-size: 80%;
    }
}
/* ------------------------------------- */
.introduction {
    margin: var(--navbar-height) 0 0 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-text {
    padding-top: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .7em;
}

.intro-text h1 {
    font-size: 2.2em;
    font-weight: 700;
}

.intro-text p {
    font-size: 1.2em;
    font-weight: 400;
}

#blink-down {
    height: 3em;
    width: 3em;
    animation: blinker 1.5s linear infinite;
}

.blink-down {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* --------------------------------- */

.contact-0 {
    height: 20rem;
    padding: 5em 3em 0 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--grey);
}

.contact-0 {
    color: var(--dark);
    text-align: center;
}

@media (max-width: 320px) {
    .services-0 h1 {
        font-size: 1.4em;
    }

    .contact-0 h1 {
        font-size: 1.4em;
    }
}

.contact-1 {
    padding: 5em 3em;
    display: flex;
    background-color: var(--white);
    gap: 3em;
    justify-content: center;
    height: auto;
}

.bronze {
    height: 18em;
    width: 15em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.bronze p,
.bronze h1 {
    color: var(--dark);
}

.silver {
    height: 18em;
    width: 15em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: var(--white);
    /* box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25) */
}

.silver p,
.silver h1 {
    color: var(--dark);
}

.gold {
    height: 18em;
    width: 15em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: #fefefe;
}

.gold p,
.gold h1 {
    color: var(--dark);
}

.bsg-title {
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: .6em;
}

.bsg-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-top: 1px solid #000; */
    padding-top: .9em;
}

.bsg-enroll {
    padding: .5em;
    background: #ffbf00;
    border: 0;
    border-radius: 50px;
}

.bsg-enroll a {
    text-decoration: none;
    color: var(--dark);
    font-size: 1.2em;
    padding: .7em;
}

.silver,
.bronze,
.gold {
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, .4);
    border-radius: 12px;
    padding: 1.5em;
}

.solid {
    border: 0;
    border-top: 1px solid #000;
    width: 100%;
}

@media (max-width: 768px) {
    .contact-1 {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .bsg-offer p {
        font-size: .9em;
    }

    .bsg-enroll a {
        font-size: 1.3em;
    }
}