@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans';
}


:root {

    --dark: #181818;
    --back: #1a1c1e;
    --light: #2f3338;
    --lighter: #3f444c;
    --lightest: #5e616a;
    --white: #fff;
    --gold: #ffb81a;
    --blue: #447BBE;
    --gold: #ffb81a;
    --red: #DF1F2D;
    --roz: #FF7396;

    --navbar-height: 5em;
}

nav {
    background: var(--back);
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    font-weight: 400;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav-logo img {
    height: 1.8em;
    width: auto;
}

.nav-logo a {
    color: #fff;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8em;
}

.nav-menu img {
    height: 1.5em;
    width: auto;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: .5em;
    gap: .7em;
    border-radius: 12px;
}

.nav-link a {
    transition: .5s ease-in-out;
}

.nav-link {
    border-radius: 12px;
    padding: .5em;
    width: auto;
}

.nav-link:hover {
    background-color: var(--lightest);
}

.hamburgher {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
}



.intro {
    margin-top: calc(var(--navbar-height) + 4em);
    display: flex;
    justify-content: center;
    padding: 3em;
}

.intro-left {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.intro-right {
    display: flex;
    justify-content: center;
}

.intro-right img {
    width: 25em;
    height: auto;
}

.intro-left h1 {
    font-size: 3em;
}

.intro-left p {
    font-size: 1.2em;
}

.intro-btns {
    display: flex;
    gap: 1em;
}

.intro-btn-1 {
    width: 9em;
    background: var(--lighter);
    border: 0;
    margin-top: 1em;
    padding: .6em .8em;
    color: #fff;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;

}

.intro-btn-2 {
    width: 9em;
    background: 0;
    margin-top: 1em;
    border: 2px solid var(--lighter);
    padding: .6em .8em;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
}

.intro-btn-1:hover {
    background: var(--lightest);
}

.intro-btn-2:hover {
    background: #f3f3f3;
}

@media (max-width: 768px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
    }

    .hamburgher {
        display: block;
        z-index: 2;
    }

    .hamburgher.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburgher.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburgher.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5em;
        display: flex;
        flex-flow: column;
        background-color: var(--back);
        width: 100%;
        height: 100%;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-link {
        background-color: var(--lighter);
        padding: 1em;
        width: 10em;
    }

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 85%;
        gap: 3em;
        padding: 2em;
    }

    .intro-left {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .intro-btn-1,
    .intro-btn-2 {
        width: 8em;
        padding: .6em .6em;
        font-size: .7em;
    }
    .intro-right img {
        width: 17em;
        height: auto;
    }
    
    .intro-left h1 {
        font-size: 2em;
    }
    
    .intro-left p {
        font-size: 1em;
    }
}

#blink-down {
    height: 3em;
    width: 3em;
    animation: blinker 1.5s linear infinite;
}

.blink-down {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.contact-0 {
    height: 20rem;
    padding: 5em 3em 0 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--grey);
}

.contact-0 {
    color: var(--dark);
    text-align: center;
}

.contact-1 {
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    gap: 3em;
    justify-content: center;
    height: auto;
}

.wrapper {
    height: 20em;
    display: flex;
    gap: 2em;
    margin: 2em;
    padding: 3em;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    /* border: 2px solid #ddd; */
}

.wrapper::-webkit-scrollbar {
    width: 0;
}

.wrapper .item {
    min-width: 17em;
    width: auto;
    height: 18em;
    padding: 1.2em;
    background-color: #fff;
    margin-right: 2px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 20px;
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, .4);
}

.item-up {
    display: flex;
    justify-content: space-between;
}

.item-up button {
    background: #DF1F2D;
    border: 0;
    padding: .2em .6em;
    border-radius: 20px;
    color: #fff;
}

.item-check p {
    padding: .3em;
}

.item-btn {
    background: #DF1F2D;
    border: 0;
    border-radius: 20px;
    padding: .4em .5em;
    color: #fff;
}