@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans';
}

:root {
    --dark: #121212;
    --white: #fff;
    --gold: #ffb81a;
    --blue: #447BBE;
    --darkblue: #2B3784;
    --red: #DF1F2D;
    --darkred: #B11313;
    --goldd: #f5be01;
    --darkk: #1e2328;
}

nav {
    background: var(--dark);
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: 400;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav-logo img {
    height: 1.8em;
    width: 1.8;
}

.nav-logo a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 1em;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.nav-item a {
    transition: .3s ease;
}

.nav-item a:hover {
    color: var(--gold);
}

.hamburgher {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
}

@media (max-width: 768px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
    }

    .hamburgher {
        display: block;
        z-index: 2;
    }

    .hamburgher.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburgher.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburgher.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5em;
        gap: 0;
        flex-direction: column;
        background-color: var(--dark);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 1em 0;
    }

    .nav-menu.active {
        left: 0;
    }

    nav ul li a {
        color: var(--white);
    }
}

/* ------------------------------------- */

.introduction {
    height: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--white);
}

.introduction {
    padding: 20em 5em 0 5em;
    color: var(--dark);
    height: 30em;
}

.introduction h1 {
    font-size: 3em;
    font-weight: 800;
}

.introduction p {
    padding-top: 1em;
    font-size: 1em;
    font-weight: 500;
}

.take-me {
    background: none;
    padding: 1em;
    cursor: pointer;
    margin-top: 2em;
    border: 3px solid var(--gold);
}

.take-me a {
    color: var(--dark);
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 500;
}

.take-me:hover {
    background-color: var(--gold);
}

#blink-down {
    height: 3em;
    width: 3em;
    animation: blinker 1.5s linear infinite;
}

.blink-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .introduction h1 {
        font-size: 2em;
    }

    .introduction {
        padding: 20em 5em 0 5em;
        color: var(--dark);
        height: 25em;
    }

}

@media (max-width: 320px) {
    .nav-logo a {
        display: none;
    }

    .introduction {
        padding: 20em 0 0 0;
    }
}

.overview {
    background: var(--dark);
    height: 50em;
}


/* .services-1 {
    padding: 0 2rem 0 2rem;
    background: var(--white);
    height: auto;
    background: var(--blue);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}

.service-1,
.service-2,
.service-3,
.service-4 {
    height: 15em;
    width: 20em;
    background: var(--white);
}

.service-1-img {
    background: url(img/logo-design.jpg);
    background-size: cover;
    height: 70%;
    width: 100%;
}

.service-2-img {
    background: url(img/social-media-marketing.jpg);
    background-size: cover;
    height: 70%;
    width: 100%;
}

.service-3-img {
    background: url(img/pattern.jpg);
    background-size: cover;
    height: 70%;
    width: 100%;
}

.service-4-img {
    background: url(img/pattern.jpg);
    background-size: cover;
    height: 70%;
    width: 100%;
}

.service-1-text,
.service-2-text,
.service-3-text,
.service-4-text {
    background: var(--dark);
    height: 3em;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-1-text a,
.service-2-text a,
.service-3-text a,
.service-4-text a {
    color: var(--white);
    text-decoration: none;
}

@media (max-width: 320px) {
    .services-0 h1 {
        font-size: 1.2em;
    }

    .services-1 {
        padding: 0 1rem 0 rem;
        color: var(--dark);
        height: auto;
    }

    .service-1,
    .service-2,
    .service-3,
    .service-4 {
        height: 12em;
        width: 12em;
        padding: 1em;
        background: var(--white);
    }

    .service-1-img,
    .service-2-img,
    .service-3-img,
    .service-4-img {
        background-size: cover;
        height: 65%;
    }

    .service-1-text,
    .service-2-text,
    .service-3-text,
    .service-4-text {
        height: 3em;
    }

    .service-1-text a,
    .service-2-text a,
    .service-3-text a,
    .service-4-text a {
        font-size: .9em;
    }

    .service-1-text {
        font-size: .8em;
    }
} */

.services-0 {
    height: 15em;
    padding: 5em 3em 0 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--white);
}

.services-0 h1 {
    color: var(--dark);
    text-align: center;
}

.services-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 0 5em 0;
}

.services-2 {
    height: 70em;
    background: var(--dark);
}

.service-1 {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.service-1-img img {
    background-size: cover;
    height: 12em;
    width: 100%;
}

.service-1,
.service-2,
.service-3,
.service-4 {
    height: auto;
    width: 20em;
    padding: 1em;
    background: var(--white);
}

.service-1-btn,
.service-2-btn,
.service-3-btn,
.service-4-btn,
.service-5-btn,
.service-6-btn {
    height: 3em;
    background: var(--dark);
}

.service-1-btn a,
.service-2-btn a,
.service-3-btn a,
.service-4-btn a,
.service-5-btn a,
.service-6-btn a {
    color: var(--white);
    text-decoration: none;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 320px) {
    .service-1-img img {
        height: auto;
        width: 100%;
    }
}

/* --------------------------------- */

.contact-0 {
    height: 20rem;
    padding: 5em 3em 0 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-0 {
    color: var(--dark);
    text-align: center;
}

@media (max-width: 320px) {
    .services-0 h1 {
        font-size: 1.4em;
    }

    .contact-0 h1 {
        font-size: 1.4em;
    }
}


/* ----------------------------------- */
.footer {
    background: var(--dark);
    height: auto;
    display: flex;
    flex-direction: column;
    color: var(--white);
    padding: 1em;
}

.footer-up-1 {
    display: flex;
    height: 8em;
}

.footer-down {
    height: 5em;
    background: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.footer-down h4 {
    font-weight: 300;
    letter-spacing: .7px;
}

.footer-down p {
    font-weight: 200;
    font-size: .9em;
    letter-spacing: .5px;
}